<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./connexion.css">
    <title>CONNEXION</title>
</head>
<body>
    
    <section class="comtain">

        <form action="">
            <h1>CONNEXION</h1><br><br>
            <table>
                <tbody>
<!--                     <tr>                        
                        <td>
                            <label for="nom">Nom :</label>
                        </td>
                        <td>
                            <input type="text" name="nom" id="nom">
                        </td>

                    </tr>
                    <tr>                        
                        <td>
                            <label for="prenom">Prenom :</label>
                        </td>
                        <td>
                            <input type="text" name="prenom" id="prenom">
                        </td>

                    </tr> -->
                    <tr>                        
                        <td>
                            <label for="email">Email :</label>
                        </td>
                        <td>
                            <input type="email" name="email" id="email">
                        </td>

                    </tr>
                    <tr>                        
                        <td>
                            <label for="password">password :</label>
                        </td>
                        <td>
                            <input type="password" name="password" id="password">
                        </td>
                    </tr>
                </tbody>
            </table><br><br><br>
            <button>Validé</button>
        </form>
    </section>


    <script src="./connexion.js"></script>
</body>
</html>