<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMANDE</title>
    <link rel="stylesheet" href="./accessPage.css">
</head>
<body>
    
    <section class="comtain">

        <form action="">
            <h1>Demande d'acces</h1><br><br>
            <table>
                <tbody>
                    <tr>                        
                        <td>
                            <label for="nom">Renseigner votre non :</label>
                        </td>
                        <td>
                            <input type="text" name="nom" id="nom">
                        </td>
                    </tr>
                    <tr>                        
                        <td>
                            <label for="code">taper le mot de pass de demande :</label>
                        </td>
                        <td>
                            <input type="number" name="code" id="code">
                        </td>
                    </tr>
                </tbody>
            </table><br><br><br>
            <button>Demande d'acces</button>
        </form>
    </section>


    <script src="./accessPaage.js"></script>
</body>
</html>