<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./inspectionDu.css">
    <title>INSPECTION</title>
</head>
<body>
    <section class="comtain">
        <form action="">
            <h1>INSPECTION DOUANIERE</h1><br><br><br>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="produit">Produit :</label>
                        </td>
                        <td>
                            <input type="text" name="produit" id="produit">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="modele">modele :</label>
                        </td>
                        <td>
                            <input type="text" name="modele" id="modele">
                        </td>
                    </tr>
                    <tr>             
                        <td>
                            <label for="pays">Pays :</label>
                        </td>
                        <td>
                            <input type="text" name="pays" id="pays">
                        </td>
                    </tr>
                    <tr>             
                        <td>
                            <label for="menace">menace :</label>
                        </td>
                        <td>
                            <input type="text" name="menace" id="menace">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="navire">Navire :</label>
                        </td>
                        <td>
                            <input type="text" name="navire" id="navire">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="prixV">Prix de vente :</label>
                        </td>
                        <td>
                            <input type="number" name="prixV" id="prixV">
                        </td>
                    </tr>
                    <tr>                        
                        <td>
                            <label for="prixD">Prix de dédouanement :</label>
                        </td>
                        <td>
                            <input type="number" name="prixD" id="prixD">
                        </td>
                    </tr>
                    <tr>                        
                        <td>
                            <label for="auth">auth :</label>
                        </td>
                        <td>
                            <input type="number" name="auth" id="auth">
                        </td>
                    </tr>
                </tbody>
            </table><br><br><br>
            <button type="submit">Envoyer</button>
        </form>

    </section>


    <script src="./inscription.js"></script>
</body>
</html>