<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <title>HOME</title>
</head>
<body>
    <section class="container">
        <section class="first_connexion">
            <section class="connexion">
                <section class="block_connect">
                    <h1>LOGO</h1><br><br><br>
                    <a href="../connexion/connexion.html"><h2>connexion</h2></a><br><br><br>
                    <a href="../inscription/inscription.html"><h2>inscription</h2></a>
                </section>
    
            </section>
        </section>
        <section class="info">
            <section class="header">
                <section class="block">
                    <h1 style="font-size: 40px; color: #fca311;">APP GESTION DU PORT</h1>
                </section>
            </section>                    <br><br><br>
            <section>
                <section class="block_1">
                    <section class="img_1">
                        <img src="../../assets/vu port.jpg" alt="" height="100%" width="100%">
                    </section>
                    <section class="text_1">
                        <h2  style=" color: #14213d;">HORAIRE DES RAVITAILLEMENT</h2><br><br>
                        <p>pour les employer et pour ceux qui font des commande il faut que vous vous inscrivez et que vous remseiller votre fonction dans le port pour y avoir acces</p>
                    </section>
                </section><br><br>

                <section class="block_2">
                    <section class="text_2">
                        <h2 style=" color: #14213d;">RAPPORT</h2><br><br>
                        <p>Renseiller votre fonction et faites nous des rapports à chaque fin de journée</p>
                    </section>
                    <section class="img_2">
                        <img src="../../assets/rapport.jpg" alt="" height="100%" width="100%">
                    </section>
                </section><br><br>

                <section class="block_3">
                    <section class="img_3">
                        <img src="../../assets/communication.jpg" alt="" height="100%" width="100%">
                    </section>
                    <section class="text_3">
                        <h2 style=" color: #14213d;">ENVOIE DE MESSAGE</h2><br><br>
                        <p>communiquer entre vous et communiquer avec nous pour avoir des renseignement et bien plus</p>
                    </section>
                </section>
            </section>
        </section>
    </section>


    <script src="./home.js"></script>
</body>
</html>