<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./acceuil.css">
    <title>ACCEUIL</title>
</head>
<body>
    <section class="container">
        <section class="first_connexion">
            <section class="connexion">
                <section class="block_connect">
                    <h1>LOGO</h1><br><br><br>
                        <a href="#c1"><h2 id="user">Chat</h2></a><br><br><br>
                        <a href="#c2"><h2 id="time">horaires</h2></a><br><br><br>
                        <a href="#c3"><h2 id="rapport">rapports</h2></a>

                </section>
    
            </section>
        </section>
        <section class="info">
            <section class="header">
                <section class="block">
                    <h1 style="font-size: 40px; color: #fca311;">APP GESTION DU PORT</h1>
                </section>
            </section><br><br><br>
            <section class="grand_parent">
               <section class="first_parent">
                    <h1 style="font-size: 40px; color: #fca311;" id="c1">Utilisateurs</h1><br>

               </section><br><br><br>
               <section class="seconde_parent">
                    <h1 style="font-size: 40px; color: #fca311;" id="c2">Horaire des ravitaillements</h1><br>
               </section><br><br><br>
               <section class="parent_3">

                    <form action="">
                        <h1 style="font-size: 40px; color: #fca311;" id="c3">Soumettez vos rapports</h1><br><br>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="titre">Rapport sur . . .</label>
                                    </td>
                                    <td>
                                        <input type="text" name="rapportTitre" id="titre">
                                    </td>
                                </tr><br>
                                <tr>
                                    <td>
                                        <label for="rapport">Rapport</label>
                                    </td>
                                    <td>
                                        <textarea name="contenu" id="rapport" type="text"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table><br><br>
                        <button type="submit">Soumettre</button>
                    </form>

               </section>
            </section>
        </section>
    </section>



    <script src="./acceuil.js"></script>
</body>
</html>